*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.warning{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(228, 131, 131);
    color: red;
    border-radius: 5px;
    text-align: center;
}

button{
    background-color: aqua;
}

ul{
    list-style  : none;
}

.first-container{
    display: flex !important;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    
}

.second-container{
    display: flex;
    /* flex-direction: column; */
    margin: 1rem 2rem;
}

.post-container{
    width: 75% !important;
}



.list-container{
    padding-top: 4rem;
    /* border: 2px solid; */
    /* border-radius: 5px; */
}


